.icon1 {
  position: absolute;
  left: 30px;
  margin-top: 5px;
}
.icon2 {
  position: absolute;
  margin-top: 5px;
  right: 30px;
}
.icon2 > button {
  background: none;
  border: none;
  cursor: pointer;
}

.input-icons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}

.icon {
  padding: 10px;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
  height: 80px;
  overflow: auto;
  background-color: red;
  border-radius: 0 0 30px 30px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar > h2 {
  margin: 0 auto;
}

.navbar > a {
  position: absolute;
  margin-left: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.icon {
  width: 30px;
  height: 30px;
  color: #fff;
}

.page-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
